body {
    background-color: #000000;
}

.navbar {
    width: 99%;
    height: 60px;
    background-color: #420000;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.logo {
    color: #ffffff;
    text-shadow: #ff0000 0px 0px 2px;
}

.logo span {
    color: #ff0000;
    text-shadow: #ffffff 0px 0px 2px;
}

.menu{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.menu a {
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu a:hover {
    border-radius: 10px;
    color: #420000;
    background-color: #970000;
    transition: ease-in-out 0.6s;
}

.marco {
    margin-top: 20px;
    margin-left: 5px;
    width: 99.5%;
    min-height: 600px;
    height: auto;
    padding-bottom: 40px;
    color : #ffffff;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
}

.marco h1 {
    flex: 1;
    color: #7c7c7c;
    text-align: center;
    padding-top: 200px;
}

.marco p {
    text-align: center;
    color: #7c7c7c;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
}

p {
    font-size: 18px;
}

.adivinar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90px;
    border: 2px solid red;
    background-color: #420000;
    color: #ffffff;
    text-decoration: underline #ff0000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.adivinar:hover {
    color: #420000;
    background-color: #970000;
    transition: ease-in-out 0.6s;
    border-color: #bbbbbb;
    text-decoration: underline #ffffff;
    border-radius: 10px;
}

.input-boton {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;               
    margin-top: 20px;
}